[submodule "Requisitos/Ebury-UMA"]
	path = Requisitos/Ebury-UMA
	url = https://github.com/Altair-Bueno/Ebury-UMA
	branch = main
[submodule "Gestion/Clinica-UMA"]
	path = Gestion/Clinica-UMA
	url = https://github.com/Altair-Bueno/Clinica-UMA
	branch = main
